<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
	<% @productCategory.each do |product| %>
		<%= link_to product.name, product %><br />
		<%= image_tag(product.image) %><br />
		<%= product.description%><br />
		<%= product.price %><br />
		<hr>
	<% end %>

	<%= link_to 'Back', products_path, class:'btn btn-primary' %>
</div>