<div class="col-lg-9 col-md-9 col-sm-6 col-xs-12">

	<%= form_for @product do |p| %>
		
		<%= p.label :name %><br />
		<%= p.text_field :name, class:'form-control', :autofocus => true %>

		<%= p.label :description %><br />
		<%= p.text_field :description, class:'form-control' %>

		<%= p.label :image %><br />
		<%= p.text_field :image, class:'form-control' %>

		<%= p.label :price %><br />
		<%= p.text_field :price, class:'form-control' %>

		<%= p.label :tag %><br />
		<%= p.select :tag_id, Tag.all.collect {|x| [x.name, x.id]}, {:prompt => "Please Select"}, { :multiple => true } %><br />

		<div class="form-group">
		<%= p.label :category, for:'exampleFormControlSelect1' %><br />
		<%= p.collection_select :category_id, Category.all, :id, :name, prompt: true, class:'form-control', id:'exampleFormControlSelect1' %><br />
		</div>

		<%= p.submit 'OK', class: 'btn btn-primary' %>

	<% end %>

</div>